#app {
  > div {
    position: absolute;
    width: 100%;
    background: white;
    left: 0;
    top: 0;
    // 임시야 left,top
  }
}

.slidein {
  animation-duration: 0.5s;
  animation-name: slidein;
}
.slideout {
  animation-duration: 0.5s;
  animation-name: slideout;
}
@keyframes slidein {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}
@keyframes slideout {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: 100%;
  }
}
