#app {
  > div:not(:first-child) {
    position: absolute;
    width: 100%;
    background: white;
    top: 0;
    right: -100vw;
    transition: right 0.5s ease-out;
  }
  > div:not(:last-child) {
    max-height: 100vh;
    overflow-y: hidden;
  }
  .slidein {
    right: 0 !important;
  }
}
