@use "sass:map";

@import './reset';
@import './variables';
@import './mixins';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

* {
  font-family: 'Noto Sans KR';
}

.btn-medium {
  @include button('medium');
  @include link('small');
  color: map.get($colors, 'white');
  background-color: map.get($colors, 'primary-1');
  &:hover {
    background-color: map.get($colors, 'primary-3');
  }
  &:focus {
    background-color: map.get($colors, 'primary-1');
  }
  &.disable {
    background-color: map.get($colors, 'primary-2');
  }
}

.btn-large {
  @include button('large');
  @include link('medium');
  color: map.get($colors, 'white');
  background-color: map.get($colors, 'primary-1');
  &:hover {
    background-color: map.get($colors, 'primary-3');
  }
  &:focus {
    background-color: map.get($colors, 'primary-1');
  }
  &.disable {
    background-color: map.get($colors, 'primary-2');
  }
}

.btn-small {
  @include button('small');
  @include link('small');
  border: none;
}

.btn-x-small {
  @include button('x-small');
  @include link('small');
  border: none;
}

.btn-fab {
  @include button('fab');
  color: map.get($colors, 'white');
  background-color: map.get($colors, 'primary-1');
  &:hover {
    background-color: map.get($colors, 'primary-3');
  }
  &:focus {
    background-color: map.get($colors, 'primary-1');
  }
  &.disable {
    background-color: map.get($colors, 'primary-2');
  }
}

.btn-location {
  @extend .btn-medium;
  justify-content: space-between;
}

.btn-category {
  @extend .btn-x-small;
  color: map.get($colors, 'grey-1');
  background-color: map.get($colors, 'white');
  border: 1px solid map.get($colors, 'grey-3');
  border-radius: 16px;
  &.active {
    background-color: map.get($colors, 'primary-1');
    border-color: map.get($colors, 'primary-1');
    color: map.get($colors, 'white');
  }
}

.btn-tap {
  @extend .btn-x-small;
  color: map.get($colors, 'grey-1');
  background-color: map.get($colors, 'white');
  border-bottom: 2px solid map.get($colors, 'grey-3');
  border-radius: 0;
  align-items: flex-end;
  &.active {
    border-bottom-color: map.get($colors, 'primary-1');
    color: map.get($colors, 'primary-1');
  }
}

.btn-status {
  @extend .btn-small;
  color: map.get($colors, 'title-active');
  justify-content: space-around;
  border: 1px solid map.get($colors, 'grey-5');
  background-color: map.get($colors, 'white');
}

.input-medium {
  @include input('medium');
  @include text('small');
  color: map.get($colors, 'title-active');
  border: 1px solid map.get($colors, 'grey-3');
  &::placeholder {
    color: map.get($colors, 'grey-1');
  }
  &:focus {
    outline: none;
    border-color: map.get($colors, 'primary-1');
  }
}

.input-large {
  @include input('large');
  @include text('medium');
  color: map.get($colors, 'title-active');
  border: 1px solid map.get($colors, 'grey-3');
  &::placeholder {
    color: map.get($colors, 'grey-1');
  }
  &:focus {
    outline: none;
    border-color: map.get($colors, 'primary-1');
  }
}

.img-box {
  &-medium {
    @include img-box('medium');
    border: 1px solid map.get($colors, 'grey-3');
    background-color: map.get($colors, 'off-white');
  }
  &-large {
    @include img-box('large');
    border: 1px solid map.get($colors, 'grey-3');
    background-color: map.get($colors, 'off-white');
  }
  &-small {
    @include img-box('small');
    border: 1px solid map.get($colors, 'grey-3');
    background-color: map.get($colors, 'off-white');
  }
}

.gradient {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.24) 0%,
    rgba(0, 0, 0, 0) 16.52%,
    rgba(0, 0, 0, 0) 87.36%,
    rgba(0, 0, 0, 0.24) 100%
  );
}

.img-nav {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid map.get($colors, 'white');
  &.active {
    background-color: map.get($colors, 'white');
  }
}

.chat-bubble {
  display: inline-block;
  padding: 8px;
  border: 1px solid map.get($colors, 'primary-1');
  &.type-a {
    border-radius: 0px 8px 8px 8px;
    color: map.get($colors, 'title-active');
  }
  &.type-b {
    border-radius: 8px 0px 8px 8px;
    background-color: map.get($colors, 'primary-1');
    color: map.get($colors, 'white');
  }
}

.chat-badge {
  @include text('x-small');
  display: inline-block;
  color: map.get($colors, 'white');
  background-color: map.get($colors, 'primary-3');
  border-radius: 50%;
  padding: 2px 7px;
  min-width: 20px;
}

.category-list-item {
  @include text('x-small');
  display: flex;
  align-items: center;
  flex-direction: column;
  & > div {
    @extend .img-box-small;
    margin-bottom: 16px;
  }
  &.active,
  &:hover {
    color: map.get($colors, 'primary-1');
  }
}

.drop-down-list {
  background: map.get($colors, 'off-white');
  width: 165px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.5),
    0px 2px 4px rgba(0, 0, 0, 0.25);
  .drop-down-item {
    @include text('small');
    color: map.get($colors, 'title-active');
    padding: 16px;
    &:not(:last-of-type) {
      border-bottom: 1px solid map.get($colors, 'grey-3');
    }
  }
}
