.main {
  .drop-down-list {
    position: absolute;
    left: 100px;
    top: 48px;
    right: 77px;
    transition: all 0.5s;
    opacity: 1;
    z-index: 100;
  }
  .blind {
    opacity: 0;
    user-select: none;
    pointer-events: none;
  }
  .product-list {
    .need-login {
      display: flex;
      justify-content: center;
      align-items: center;
      height: calc(100vh - 70px);
      color: map.get($colors, 'title-active');
      font-size: 25px;
    }
  }
}
